@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* swiper */
.swiper {
    padding: 30px 0 !important;
}
.swiper-slide {
    width: 100% !important;
    height: 100%;
    position: relative;
}
.swiper-pagination-bullet {
    opacity: 0.7;
}
.swiper-pagination-bullet-active {
    background-color: #000 !important;
    opacity: 1;
}
.swiper-horizontal > .swiper-pagination-bullets {
    bottom: -5px !important;
}
.swiper-button-prev,
.swiper-button-next {
    color: #000 !important;
}
.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 30px !important;
}
/* 반응형 */
@layer utilities {
    @variants responsive {
        @screen sm {
            html {
                font-size: 12px; /* 640px 이상 */
            }
        }
        @screen md {
            html {
                font-size: 14px; /* 768px 이상 */
            }
        }
        @screen lg {
            html {
                font-size: 16px; /* 1024px 이상 */
            }
        }
    }
}
